body {
      background-color: #f2e9dc;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
     }

.card {
      background-color: white;
      width: 225px;
      border-radius: 10px;
      }

img {
        border-radius: 4px;
      }
.price {
      margin-top: 15px;

    }

.current-price {
      color: green;
      font-size: 24px;
      font-weight: bold;
    }

.old-price {
      text-decoration: line-through;
      color: gray;
      font-size: 14px;
      margin-left: 10px;
    }

button {
      background-color: #f1f1f1;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
      margin-top: 15px;
      cursor: pointer;
      margin-left: 60px;
    }

button:hover {
      background-color: #ddd;
    }